<div class="mainWrapper">
  <div class="container px-4">
    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
        <div class="modal-product-info shop-details-info pl-0">
          <h3 class="animated fadeIn">Vegetables Juices</h3>
          <div class="product-price">
            <span>$49.00</span>
            <del>$65.00</del>
          </div>
          <div class="modal-product-meta product_details_menu_1">
            <ul>
              <li>
                <strong>Categories:</strong>
                <span>
                  <a href="#">Parts</a>
                  <a href="#">Car</a>
                  <a href="#">Seat</a>
                  <a href="#">Cover</a>
                </span>
              </li>
            </ul>
          </div>

          <div class="product_details_menu_3">
            <ul>
              <li>
                <a href="#" class="" title="Wishlist" data-toggle="modal" data-target="#liton_wishlist_modal">
                  <i class="bi bi-heart"></i>
                  <span>Add to Wishlist</span>
                </a>
              </li>
              <li>
                <a href="#" class="" title="Compare" data-toggle="modal" data-target="#quick_view_modal">
                  <i class="bi bi-arrow-left-right"></i>
                  <span>Compare</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
